h1{
    text-align: center;
}

.wrap{
    width: 400px;
    margin: 0 auto;
}

.InputField{
    width: 340px;
    height: 40px;
    border: solid 1px black;
    font-size: 16px;
}

.addBtn{
    width: 56px;
    height: 40px;
    border: solid 1px skyblue;
    background-color: skyblue;
}

.contentWrap{
    margin-top: 8px;
}

.content{
    margin-top: 8px;
    display: flex;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 8px 0px;
}

.task{
    width: 265px;
    height: 100%;
    font-size: 18px;
    padding: 8px 4px;
}

.remove{
    width: 56px;
    height: 40px;
    background-color: skyblue;
    margin-left: 4px;
}

.changeTaskBtn{
    width: 56px;
    height: 40px;
    background-color: skyblue;
    margin-left: 4px;
}

.popUpFullScreenWrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(93, 93, 93, 1);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
}



.popUpWrap{
    width: 700px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 160px 80px;
}

.changeTaskInput{
    width: 450px;
    height: 48px;
    border: solid 1px black;
}

.changeTaskDecisionBtn{
    width: 56px;
    height: 48px;
    background-color: skyblue;
    margin-left: 4px;

}


